<section >    
  <div class="side-bar" >
    <h1>Bloc Chat</h1> <button type="button" class="btn btn-primary" ng-click="rooms.openModal()">Open me!</button>
    <div class="list" ng-repeat="room in rooms.allRooms" ng-click="rooms.setCurrentRoom(room)">{{ room.name }}</div></div>
    <div class="main">
        <h1>{{ rooms.currentRoom.name }}</h1>
        <div class="messages" ng-repeat="message in rooms.messages">
            {{ message.content }} {{message.username }} {{ message.sentAt }}
        </div>
    </div>
    <div class="message-field">
        <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="rooms.newMessage.content" style="width:500px;">
        <button class="btn-new-message" type="button" ng-click="rooms.sendMessage()">Send message</button>
    </div>
      </section>
     